@import url(variables.css);

body {
    background: linear-gradient(45deg, var(--color-1), var(--color-2));
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
#form__login {
    background: var(--color-3);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 30vw;
    height: 50vh;
}
.div__title h1 {
    font-size: 32px;
    font-weight: bold;
    color: var(--color-4);
    display: flex;
    align-items: center;
    justify-content: center;
}
.div__title h1::before {
    content: "";
    width: 5px;
    height: 39px;
    background: var(--color-2);
    display: inline-block;
    margin-right: 10px;
}
.div__title strong {
    font-size: 22px;
    color: var(--color-4);
    display: block;
    margin-top: 10px;
}
.div__title p {
    font-size: 14px;
    color: var(--color-5);
}

.div__input {
    margin: 20px 0;
    text-align: left;
    width: 100%;
    box-sizing: border-box;
}

.div__input label {
    display: block;
    font-size: 14px;
    font-weight: bold;
    color: var(--color-5);
    margin-bottom: 5px;
    margin-top: 20px;
}

.div__input input {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--color-7);
    border-radius: 5px;
    font-size: 0.9rem;
    color: var(--color-4);
    background: var(--color-3);
    box-sizing: border-box;
}

.div__input input::placeholder {
    color: var(--color-6);
}

.div__button input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    background: var(--color-1);
    color: var(--color-3);
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
}

.div__button input:hover {
    background: var(--color-2);
}

.div__button span {
    display: block;
    margin-top: 10px;
    font-size: 0.9rem;
    color: var(--color-5);
}

.div__button a {
    color: var(--color-1);
    text-decoration: none;
    font-weight: bold;
}

.div__button a:hover {
    text-decoration: underline;
}
